:root {
  --ic:'Material Symbols Outlined';
}

.col01 {color:var(--main-color) !important;}
.col02 {color:var(--point-color) !important;}
.col03 {color:#7b7990 !important;}
.col04 {color:#b00000 !important;}
.box01 {padding:20px; border-radius:8px; border:1px solid #e0e0e0;}
.box02 {padding:20px; border-radius:8px; border:1px solid var(--main-color);}

#sub .subtab {display:flex; margin:0 0 40px; text-align:center; border-bottom:1px solid #e0e0e0;}
#sub .subtab a {flex:1; display:flex; align-items:center; justify-content:center; font-weight:700; padding:1em 0.5em; color:#aaa; position:relative;}
#sub .subtab a.on {color:unset;}
#sub .subtab a.on:after {content:''; display:inline-block; width:2em; height:3px; background:var(--col01); position:absolute; left:calc(50% - 1em); bottom:-1px;}
#sub .titbox {display:flex; flex-wrap:wrap; width:100%; height:fit-content; gap:20px 5%;}
#sub .titbox > .tit {width:100%; margin:0 0 20px;}
#sub .titbox > .con {width:100%; min-height:unset;}
#sub .titbox > .tit > p {/*word-break:break-all;*/}
#sub .titbox > .tit > p::first-letter {/*border-top:3px solid var(--main-color); padding-top:10px;*/}
#sub .tabbox {overflow-x:auto;}
#sub .tab01 {border-top:2px solid var(--main-color); width:100%;}
#sub .tab01 tr {border-bottom:1px solid #e0e0e0;}
#sub .tab01 th,
#sub .tab01 td {padding:0.4em 0.2em; vertical-align:middle; /*word-break:break-all;*/}
#sub .tab01.wbu th,
#sub .tab01.wbu td {word-break:unset;}
#sub .tab01.type01 th,
#sub .tab01.type01 td {word-break:unset;}
#sub .tab01 th:not(:last-child),
#sub .tab01 td:not(:last-child),
#sub .tab01 .bdr {border-right:1px solid #e0e0e0;}
#sub .tab01 th {background:#f8f8f8;}
#sub .tab01 span.l01 {padding:2px 4px; border-radius:4px; border:1px solid var(--main-color); color:var(--main-color); font-weight:400; font-size:0.9em;}
#sub .h_l {font-weight:700; font-size:1.75em;}
#sub .h_m {font-weight:600; font-size:1.25em;}
#sub .h_s {font-weight:600; font-size:1.1em;}
#sub .btnbox {display:flex; align-items:center; justify-content:center; gap:10px; flex-wrap:wrap;}
#sub .btnbox a {background:var(--main-color); color:#fff; padding:0.4em 0.6em; border-radius:4px;}
#sub .btnbox a[download]:after {content:'download'; font-family:var(--ic); vertical-align:bottom;}

@media all and (min-width:768px) {
  #sub .subtab {margin:0 0 60px;}
  #sub .titbox > .tit {width:20%;}
  #sub .titbox > .con {width:75%;}
}

@media all and (min-width:1200px) {
  #sub .subtab {margin:0 0 80px;}
  #sub .subtab a {font-size:1.1em;}
  #sub .h_l {font-size:2em;}
  #sub .h_m {font-size:1.5em;}
  #sub .h_s {font-size:1.15em;}
  #sub .tab01 th,
  #sub .tab01 td {padding:0.6em;}
}


.dot_li {display:flex; flex-wrap:wrap; gap:0.5em 0;}
.dot_li li {width:100%; position:relative; padding:0 0 0 1em;}
.dot_li li:before {content:'·'; position:absolute; left:0;}


/*탄소중립지원센터 - 인사말*/
.sub_grt .info01 {display:flex; flex-wrap:wrap; align-items:flex-start; gap:40px 10%;}
.sub_grt .info01 .img {width:min(40%, 120px); margin:0 0 0 auto;}
.sub_grt .info01 .img {text-align:right; position:relative;}
.sub_grt .info01 .img:after {content:''; display:inline-block; width:100%; height:100%; border-radius:8px; background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); opacity:0.4; position:absolute; right:10px; top:10px; z-index:-1;}
.sub_grt .info01 .img img {width:100%; border-radius:8px;}
.sub_grt .info01 .txt {width:100%;}
.sub_grt .info01 .txt .point {box-shadow:0 -0.7em 0 #d3ecd4 inset; font-weight:500;}
.sub_grt .info01 .txt .head {text-align:right; font-size:1.1em; display:flex; align-items:flex-end; justify-content:flex-end; gap:0 1em;}
.sub_grt .info01 .txt .head b {letter-spacing:0.25em;}

@media all and (min-width:768px) {
}

@media all and (min-width:1200px) {
  .sub_grt {padding:0 50px 0 0;}
  .sub_grt .info01 {flex-direction:row-reverse;}
  .sub_grt .info01 .img {width:15%;}
  .sub_grt .info01 .txt {width:75%;}
  .sub_grt .info01 .txt .head {font-size:1.35em;}
}


/*탄소중립지원센터 - 센터소개*/
.sub_overview .info01 {padding:20px; border-radius:8px; background:#f8f8f8; border:1px solid #e0e0e0; text-align:center;}
.sub_overview .info01 h5 {font-weight:700; font-size:1.25em;}
.sub_overview .info01 p {font-size:0.8em; opacity:0.8;}
.sub_overview .chart {margin:auto; width:100%; position:relative;}
.sub_overview .chart:before {content:''; display:inline-block; width:1px; height:calc(100% - min(20vw, 130px)); background:#e0e0e0; position:absolute; left:50%; top:min(20vw, 130px); z-index:-1;}
.sub_overview .chart ul {display:flex; align-items:center; position:relative;}
.sub_overview .chart .dep01 {justify-content:space-between;}
.sub_overview .chart .dep01:before {content:''; display:inline-block; width:100%; height:1px; background:#e0e0e0; position:absolute; left:0; top:50%; z-index:-1;}
.sub_overview .chart .dep01 li img {width:min(40vw, 260px); height:min(40vw, 260px); border-radius:100%; border:5px solid #7b7990; display:block; margin:0 auto;}
.sub_overview .chart .dep02 {justify-content:flex-end;}
.sub_overview .chart .dep02:before {content:''; display:inline-block; width:50%; height:1px; background:#e0e0e0; position:absolute; left:50%; top:50%; z-index:-1;}
.sub_overview .chart .dep02 li p {background:#7b7990; color:#fff; padding:10px 20px; border-radius:8px; font-weight:500; width:min(40vw, 260px); text-align:center; margin:0 auto;}
.sub_overview .chart .dep03 li {padding:20px; border-radius:500px; background:#fff; border:5px solid #e0e0e0; text-align:center; width:100%;}
.sub_overview .chart .dep03 li img {width:min(80%, 400px);}
.sub_overview .chart .dep03 li p {margin:10px 0 0; font-weight:600; color:#7b7990;}
.sub_overview .chart .dep04 li {text-align:center; width:100%;}
.sub_overview .chart .dep04 li img {width:min(100%, 520px);}
.sub_overview .chart .dep04 li .txt {display:flex; align-items:center; justify-content:center; gap:10px 1em; padding:20px; border-radius:500px; background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; text-align:center; width:100%; font-weight:600;}
.sub_overview .chart .dep04 li .txt em {background:#fff; color:var(--main-color); padding:0 1em; border-radius:100px;}
.sub_overview .info02 li {padding:20px; border:1px solid #e0e0e0; border-radius:8px; font-size:1.1em; font-weight:600; display:flex; gap:0 0.5em;}
.sub_overview .info02 li:not(:last-of-type) {margin:0 0 20px;}
.sub_overview .info02 li:before {content:'check_circle'; font-family:var(--ic); color:var(--main-color);}
.sub_overview .info03 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_overview .info03 li {width:100%; background:#f8f8f8; border:1px solid #e0e0e0; border-radius:8px; padding:20px; display:flex; align-items:center; justify-content:space-between; flex-direction:row-reverse;}
.sub_overview .info03 li img {display:block; width:min(20%, 50px); margin:0 0 0 auto;}
.sub_overview .info03 li p {font-weight:600; font-size:1.1em;}

@media all and (min-width:768px) {
  .sub_overview .info01 h5 {font-size:1.75em;}
  .sub_overview .info01 p {font-size:0.9em;}
  .sub_overview .chart .dep02 li p {font-size:1.25em; padding:20px;}
  .sub_overview .chart .dep03 li p {font-size:1.25em;}
  .sub_overview .chart .dep04 li .txt em {font-size:1.1em;}
  .sub_overview .chart .dep04 li .txt p {font-size:1.25em;}
}

@media all and (min-width:1200px) {
  .sub_overview {padding:0 50px 0 0;}
  .sub_overview .info01 h5 {font-size:2em;}
  .sub_overview .chart .dep04 li .txt p {font-size:1.75em;}
  .sub_overview .info02 li {font-size:1.25em;}
  .sub_overview .info03 li {width:unset; flex:1; flex-shrink:0; display:block;}
  .sub_overview .info03 li img {margin:0 auto 20px 0;}
  .sub_overview .info03 li p {width:100%; font-size:1.25em; margin:0 0 auto;}
}


/*탄소중립지원센터 - 조직도*/
.sub_org .chart ul {display:flex; justify-content:center; text-align:center; gap:0 2%; position:relative;}
.sub_org .chart ul:not(:last-child) {margin:0 0 var(--orgline);}
.sub_org .chart ul li {position:relative;}
.sub_org .chart ul.dep01 li,
.sub_org .chart ul.dep02 li {width:49%;}
.sub_org .chart ul.dep03 li {width:32%; margin:var(--orgline) 0 0;}
.sub_org .chart ul li > p {font-weight:600; width:100%; padding:10px; border-radius:8px; word-break:break-all;}
.sub_org .chart ul.dep01 li > p {background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff;}
.sub_org .chart ul.dep02 li > p {background:#7b7990; color:#fff;}
.sub_org .chart ul.dep03 li > p {border:1px solid #e0e0e0; background:#f8f8f8;}


@media all and (min-width:768px) {
  .sub_org .chart ul {gap:20px 2%;}
  .sub_org .chart ul.dep01 li,
  .sub_org .chart ul.dep02 li {width:30%;}
  .sub_org .chart ul li > p {padding:20px 10px; font-size:1.1em;}
}

@media all and (min-width:1200px) {
  .sub_org {padding:0 50px 0 0;}
}

:root {--orgline:20px;}
.sub_org .chart ul.dep01:after,
.sub_org .chart ul.dep02:after {content:''; display:inline-block; width:1px; height:var(--orgline); background:#e0e0e0; position:absolute; left:50%; top:100%;}
.sub_org .chart ul.dep03:before {content:''; display:inline-block; width:68%; height:1px; background:#e0e0e0; position:absolute; left:16%; top:0;}
.sub_org .chart ul.dep03 li:before {content:''; display:inline-block; width:1px; height:var(--orgline); background:#e0e0e0; position:absolute; left:50%; bottom:100%; z-index:-1;}

@media all and (min-width:768px) {
  :root {--orgline:30px;}
}


/*탄소중립지원센터 - 오시는 길*/
.sub_map .info01 {display:flex; flex-wrap:wrap; align-items:flex-start; gap:10px 0; font-weight:600;}
.sub_map .info01 p {width:100%; display:flex; align-items:center; flex-wrap:wrap; gap:10px 1em; border:1px solid #e0e0e0; border-radius:8px; padding:10px;}
.sub_map .info01 p .label,
.sub_map .info01 p .txt {width:100%;}
.sub_map .info01 p .label {color:var(--main-color); display:flex; align-items:center; gap:1em;}
.sub_map .info01 p .label:before {font-family:var(--ic); display:flex; align-items:center; justify-content:center; width:1.5em; height:1.5em; border-radius:8px; background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff;}
.sub_map .info01 p:nth-of-type(1) .label:before {content:'location_on';}
.sub_map .info01 p:nth-of-type(2) .label:before {content:'call';}
.sub_map .info01 p:nth-of-type(3) .label:before {content:'adf_scanner';}
.sub_map .info01 p .txt em {font-weight:400;}
.sub_map .mapwrap {width:100%; border:1px solid #e0e0e0; border-radius:8px; overflow:hidden;}
.sub_map .mapwrap .cont {display:none;}
.sub_map .mapwrap .map_border {display:none;}
.sub_map .mapwrap .wrap_controllers {display:none;}
.sub_map .wrap_map button {height:unset;}

@media all and (min-width:768px) {
  .sub_map .info01 p {padding:20px;}
  .sub_map .info01 p .label {width:7em;}
  .sub_map .info01 p .txt {width:calc(100% - 8em);}
}

@media all and (min-width:1200px) {
  .sub_map {padding:0 50px 0 0;}
}


/*탄소중립지원센터 - 주요사업*/
.sub_biz .info01 {display:flex; flex-wrap:wrap; gap:20px 2%; padding:20px; border-radius:8px; border:1px solid #e0e0e0; background:#f8f8f8;}
.sub_biz .info01 h3 {display:flex; align-items:center; justify-content:center; margin:0 0 20px; padding:20px; border-radius:8px; border:1px solid var(--main-color); background:#fff; font-size:1.25em; font-weight:700; text-align:center; width:100%; gap:0 0.2em;}
.sub_biz .info01 .item {width:100%;}
.sub_biz .info01 .item h5 {padding:10px; color:#fff; font-weight:600; font-size:1.1em; border-radius:8px; margin:0 0 20px; display:flex; align-items:center; gap:0 10px;}
.sub_biz .info01 .item:nth-of-type(1) h5 {background:#f28f40;}
.sub_biz .info01 .item:nth-of-type(2) h5 {background:#33813b;}
.sub_biz .info01 .item:nth-of-type(3) h5 {background:#1eaff2;}
.sub_biz .info01 .item h5 em {display:flex; align-items:center; justify-content:center; width:30px; height:30px; background:#fff; font-size:0.8em; font-weight:600; border-radius:100%; flex-shrink:0;}
.sub_biz .info01 .item:nth-of-type(1) h5 em {color:#f28f40;}
.sub_biz .info01 .item:nth-of-type(2) h5 em {color:#33813b;}
.sub_biz .info01 .item:nth-of-type(3) h5 em {color:#1eaff2;}
.sub_biz .info01 .item ul {border:1px solid #e0e0e0; background:#fff; padding:20px; border-radius:8px;}
.sub_biz .info01 .item ul li:not(:last-child) {border-bottom:1px solid #e0e0e0; padding:0 0 10px; margin:0 0 10px;}
.sub_biz .info01 .item ul li em.new {display:inline-block; font-size:0.9em; font-weight:400; padding:0.2em 0.5em; background:#7b7990; color:#fff; border-radius:4px; margin-right:0.5em;}

@media all and (min-width:768px) {
  .sub_biz .info01 p {font-size:1.5em;}
  .sub_biz .info01 .item h5 {padding:20px;}
}

@media all and (min-width:1200px) {
  .sub_biz {padding:0 50px 0 0;}
  .sub_biz .info01 {padding:40px 20px;}
  .sub_biz .info01 .item {width:unset; flex:1;}
}


/*탄소중립지원센터 - 기초 탄소중립지원센터 소개 및 현황*/
.sub_basic .info01 {display:flex; align-items:center; flex-wrap:wrap; border:1px solid #e0e0e0; border-radius:8px; overflow:hidden;}
.sub_basic .info01 .info,
.sub_basic .info01 > .map {width:100%;}
.sub_basic .info01 .info {padding:30px 20px;}
.sub_basic .info01 .info h3 {margin:0 0 20px; display:flex; align-items:center; gap:0.5em;}
.sub_basic .info01 .info h3 .logo {width:min(280px, calc(100% - 80px));}
.sub_basic .info01 .info h3 a {display:flex; align-items:center; justify-content:center; width:2em; height:2em; border-radius:100%; background:#9b99aa; color:#fff; margin-left:auto;}
.sub_basic .info01 .info h3 a:after {content:'home'; font-family:var(--ic);}
.sub_basic .info01 .info p {display:flex; gap:0.5em;}
.sub_basic .info01 .info p:not(:last-of-type) {margin:0 0 10px;}
.sub_basic .info01 .info p:before {font-family:var(--ic); display:flex; align-items:center; justify-content:center; width:1.5em; height:1.5em; border-radius:8px; background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; flex-shrink:0;}
.sub_basic .info01 .info p:nth-of-type(1):before {content:'corporate_fare';}
.sub_basic .info01 .info p:nth-of-type(2):before {content:'calendar_today';}
.sub_basic .info01 .info p:nth-of-type(3):before {content:'location_on';}
.sub_basic .info01 .info p:nth-of-type(4):before {content:'call';}
.sub_basic .info01 .info p em {font-weight:600; width:4em; flex-shrink:0;}
.sub_basic .mapwrap {width:100%; border-top:1px solid #e0e0e0;}
.sub_basic .mapwrap .cont {display:none;}
.sub_basic .mapwrap .map_border {display:none;}
.sub_basic .mapwrap .wrap_controllers {display:none;}
.sub_basic .wrap_map button {height:unset;}

@media all and (min-width:768px) {
}

@media all and (min-width:1200px) {
  .sub_basic {padding:0 50px 0 0;}
  .sub_basic .info01 .info,
  .sub_basic .info01 > .map {width:50%;}
  .sub_basic .info01 .info {padding:40px;}
  .sub_basic .info01 .info h3 a {margin-left:unset; width:2.5em; height:2.5em;}
  .sub_basic .mapwrap {border-top:0; border-left:1px solid #e0e0e0;}
}


/*탄소중립이란 - 탄소중립의 정의 및 중요성/국내외 동향*/
.sub_defi .info01 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_defi .info01 li {width:100%; border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px;}
.sub_defi .info01 li img {display:block; width:min(20%, 50px); margin:0 0 0 auto;}
.sub_defi .info01 li h5 {font-weight:600; font-size:1.1em; margin:0 0 10px;}
.sub_defi .info02 dt {margin:0 0 20px;}
.sub_defi .info02 dt h3 {font-size:1.1em; font-weight:600;}
.sub_defi .info02 dd:not(:last-of-type) {margin:0 0 20px;}
.sub_defi .info02 dd.box {display:flex; align-items:center; justify-content:center; padding:20px 10px; text-align:center; font-weight:600; font-size:1.1em; border-radius:8px;}
.sub_defi .info02 dd.box.type01 {/*background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%);*/ border:1px solid var(--main-color);}
.sub_defi .info02 dd.box.type02 {background:#7b7990; color:#fff;}
.sub_defi .info02 dd ul.type01 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_defi .info02 dd ul.type01 li {width:100%; border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px; text-align:center;}
.sub_defi .info02 dd ul.type01 li h5 {font-size:1.1em; font-weight:600; color:var(--main-color); margin:0 0 10px;}
.sub_defi .info02 dd ul.type02 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_defi .info02 dd ul.type02 li {width:100%;}
.sub_defi .info02 dd ul.type02 li > div {display:flex; align-items:center; gap:0 1em; padding:10px; border-radius:8px;}
.sub_defi .info02 dd ul.type02 li:nth-child(1) > div {background:var(--point-color);}
.sub_defi .info02 dd ul.type02 li:nth-child(2) > div {background:#f28f40;}
.sub_defi .info02 dd ul.type02 li:nth-child(3) > div {background:#33813b;}
.sub_defi .info02 dd ul.type02 li:nth-child(4) > div {background:#1eaff2;}
.sub_defi .info02 dd ul.type02 li > div em {display:flex; align-items:center; justify-content:center; width:30px; height:30px; background:#fff; font-size:0.8em; font-weight:600; border-radius:100%; flex-shrink:0;}
.sub_defi .info02 dd ul.type02 li:nth-child(1) > div em {color:var(--point-color);}
.sub_defi .info02 dd ul.type02 li:nth-child(2) > div em {color:#f28f40;}
.sub_defi .info02 dd ul.type02 li:nth-child(3) > div em {color:#33813b;}
.sub_defi .info02 dd ul.type02 li:nth-child(4) > div em {color:#1eaff2;}
.sub_defi .info02 dd ul.type02 li > div h5 {color:#fff;}
.sub_defi .info02 dd ul.type02 li > div h5 b {font-size:1.1em; font-weight:600; display:block;}
.sub_defi .info02 dd ul.type02 li p {display:flex; flex-wrap:wrap; align-items:center; gap:10px 0.5em; border-top:1px solid #e0e0e0; padding:10px; margin:10px 0 0; border:1px solid #e0e0e0; padding:10px; border-radius:8px;}
.sub_defi .info02 dd ul.type02 li p em {display:flex; align-items:center; justify-content:center; border-radius:100%; background:#7b7990; color:#fff; width:2em; height:2em; font-size:12px; font-weight:600;}
.sub_defi .info02 dd ul.type02 li p span {width:calc(100% - 2.5em);}

@media all and (min-width:768px) {
  .sub_defi .info01 li {width:49%; padding:20px;}
  .sub_defi .info02 dt h3 {font-size:1.25em;}
  .sub_defi .info02 dd:not(:last-of-type) {margin:0 0 40px;}
  .sub_defi .info02 dd.box {font-size:1.25em;}
  .sub_defi .info02 dd ul.type01 li {width:unset; flex:1; flex-shrink:0; padding:20px;}
  .sub_defi .info02 dd ul.type02 li > div {padding:20px;}
  .sub_defi .info02 dd ul.type02 li p {padding:20px;}
}

@media all and (min-width:1200px) {
  .sub_defi {padding:0 50px 0 0;}
  .sub_defi .info01 li img {margin:0 0 20px 0;}
  .sub_defi .info02 dt h3 {font-size:1.35em;}
  .sub_defi .info02 dd ul.type02 li {width:49%; flex-shrink:0;}
}


/*경남의 탄소중립 - 온실가스 배출 통계*/
.sub_emis .tit01 {display:flex; align-items:center; justify-content:center; padding:20px 10px; text-align:center; font-weight:600; font-size:1.1em; border-radius:8px; border:1px solid var(--main-color); color:var(--main-color);}
.sub_emis .info01 {display:flex; align-items:center; justify-content:space-between;}
.sub_emis .info01 em {background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; padding:0.2em 1em; border-radius:4px; min-width:100px; font-weight:600; text-align:center;}

@media all and (min-width:768px) {
  .sub_emis .tit01 {font-size:1.25em;}
}

@media all and (min-width:1200px) {
  .sub_emis {padding:0 50px 0 0;}
  .sub_emis .tit01 {font-size:1.35em;}
}


/*경남의 탄소중립 - 탄소중립·녹색성장 기본계획*/
.sub_plan .info01 dl {display:flex; flex-wrap:wrap; align-items:center; gap:20px;}
.sub_plan .info01 dt,
.sub_plan .info01 dd {width:100%;}
.sub_plan .info01 .t01 {background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; border-radius:8px; padding:20px; text-align:center; font-size:1.25em; font-weight:600;}
.sub_plan .info01 .t02 {border:1px solid #e0e0e0; background:#f8f8f8; border-radius:8px; padding:20px; text-align:center;}
.sub_plan .info01 .t02 h5 {font-size:1.25em; font-weight:600; margin:0 0 10px;}
.sub_plan .info01 .t02 p {font-weight:500; display:flex; align-items:center; justify-content:center; gap:0 0.2em;}
.sub_plan .info01 .t02 p .year {padding:0 0.5em; border-radius:4px; background:#7b7990; color:#fff;}
.sub_plan .info01 .t02 p .year:last-of-type {background:var(--main-color);}
.sub_plan .info01 .t02 p .arr:after {content:'arrow_circle_right'; font-family:var(--ic); color:#a5a4b4; font-size:1.5em;}
.sub_plan .info01 .li01 {display:flex; gap:0 5px; text-align:center;}
.sub_plan .info01 .li01 li {width:calc(20% - 4px); display:flex; align-items:center; justify-content:center; flex-wrap:wrap; border-radius:8px; padding:20px 10px; flex-shrink:0; overflow:hidden; border:1px solid #e0e0e0; border-top:3px solid var(--point-color);}
.sub_plan .info01 .li01 li:nth-child(2) {border-top-color:#f28f40;}
.sub_plan .info01 .li01 li:nth-child(3) {border-top-color:#33813b;}
.sub_plan .info01 .li01 li:nth-child(4) {border-top-color:#1eaff2;}
.sub_plan .info01 .li01 li:nth-child(5) {border-top-color:#7b7990;}
.sub_plan .info01 .li01 li > * {width:100%;}
.sub_plan .info01 .li01 li img {margin:0 auto 10px; width:min(60%, 40px);}
.sub_plan .info01 .li01 li p {font-weight:600; word-break:break-all; margin:0 0 5px;}
.sub_plan .info01 .li01 li h5 {word-break:break-all;}
.sub_plan .info01 .li01 li:nth-child(1) h5 {color:var(--point-color);}
.sub_plan .info01 .li01 li:nth-child(2) h5 {color:#f28f40;}
.sub_plan .info01 .li01 li:nth-child(3) h5 {color:#33813b;}
.sub_plan .info01 .li01 li:nth-child(4) h5 {color:#1eaff2;}
.sub_plan .info01 .li01 li:nth-child(5) h5 {color:#7b7990; font-weight:600;}
.sub_plan .info01 .li01 li:not(:nth-child(5)) h5 {font-size:1.1em; font-weight:700;}
.sub_plan .info01 .li02 {display:flex; gap:10px 5px; text-align:center;}
.sub_plan .info01 .li02 li {width:calc(20% - 4px); display:flex; align-items:center; justify-content:center; border-radius:8px; font-weight:500;}
.sub_plan .info01 .li02 li:nth-child(1) {background:#8CBF2630;}
.sub_plan .info01 .li02 li:nth-child(2) {background:#f28f4030;}
.sub_plan .info01 .li02 li:nth-child(3) {background:#33813b30;}
.sub_plan .info01 .li02 li:nth-child(4) {background:#1eaff230;}
.sub_plan .info01 .li02 li:nth-child(5) {background:#7b799030;}
.sub_plan .info01 .li02 li p {padding:20px 10px; word-break:break-all;}
.sub_plan .info02 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_plan .info02 .item {width:100%; padding:20px; border:1px solid #e0e0e0; border-radius:8px;}
.sub_plan .info02 .item h3 {background:var(--main-color); /*background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%);*/ color:#fff; font-weight:600; padding:10px; border-radius:8px; font-size:1.1em;}
.sub_plan .info02 .item:nth-child(1) h3 {background:var(--point-color);}
.sub_plan .info02 .item:nth-child(2) h3 {background:#f28f40;}
.sub_plan .info02 .item:nth-child(3) h3 {background:#33813b;}
.sub_plan .info02 .item:nth-child(4) h3 {background:#1eaff2;}
.sub_plan .info02 .item:nth-child(5) h3 {background:#7b7990; font-weight:600;}
.sub_plan .info02 .item h4 {padding:10px; font-weight:600; border-bottom:1px solid #e0e0e0;}
.sub_plan .info02 .item h5 {font-weight:600; margin:20px 10px 10px;}
.sub_plan .info02 .item ul {padding:20px 10px; border-radius:8px; background:#f8f8f8;}
.sub_plan .info02 .item li {display:flex; align-items:flex-start; gap:0 0.5em;}
.sub_plan .info02 .item li:before {content:'·';}

@media all and (min-width:768px) {
  .sub_plan .info02 .item {width:49%;}
}

@media all and (min-width:1200px) {
  .sub_plan {padding:0 50px 0 0;}
  .sub_plan .info01 dt {width:150px;}
  .sub_plan .info01 dd {width:calc(100% - 170px);}
  .sub_plan .info01 .t01 {font-size:1.5em;}
  .sub_plan .info01 .t02 h5 {font-size:1.5em;}
  .sub_plan .info01 .li01 li {align-items:flex-start;}
  .sub_plan .info01 .li01 li p {font-size:1.1em;}
  .sub_plan .info01 .li01 li:not(:nth-child(5)) h5 {font-size:1.5em;}
  .sub_plan .info01 .li02 li p {word-break:keep-all;}
  .sub_plan .info02 .item {width:32%;}
  .sub_plan .info02 .item h3 {font-size:1.25em;}
}

/*.sub_plan .tit01 {display:flex; align-items:center; justify-content:center; padding:20px 10px; text-align:center; font-weight:600; font-size:1.1em; border-radius:8px; border:1px solid var(--main-color); color:var(--main-color);}
.sub_plan .info01 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_plan .info01 li {width:100%; border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px; text-align:center;}
.sub_plan .info01 li img {margin:0 0 10px; width:min(40%, 40px);}
.sub_plan .info01 li h5 {font-size:1.1em; font-weight:600; color:var(--main-color); margin:0 0 10px;}
.sub_plan .info02 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_plan .info02 li {width:100%;}
.sub_plan .info02 li h5 {background:#7b7990; color:#fff; padding:10px; border-radius:8px; font-weight:600; display:flex; align-items:center; gap:10px; font-size:1.1em; margin:0 0 10px;}
.sub_plan .info02 li h5 em {display:flex; align-items:center; justify-content:center; width:30px; height:30px; background:#fff; color:#7b7990; font-size:0.8em; border-radius:100%; flex-shrink:0;}
.sub_plan .info02 li p {border:1px solid #e0e0e0; padding:10px; border-radius:8px;}
.sub_plan .info02 li p:not(:last-child) {margin:0 0 10px;}

@media all and (min-width:768px) {
  .sub_plan .tit01 {font-size:1.25em;}
  .sub_plan .info01 li {width:49%; padding:20px;}
  .sub_plan .info02 li {width:49%;}
  .sub_plan .info02 li p {padding:20px;}
}

@media all and (min-width:1200px) {
  .sub_plan {padding:0 50px 0 0;}
  .sub_plan .tit01 {font-size:1.35em;}
  .sub_plan .info01 li {width:unset; flex:1; flex-shrink:0;}
}*/


/*경남의 탄소중립 - 기후위기 적응대책*/
.sub_adap .tit01 {display:flex; align-items:center; justify-content:center; padding:20px 10px; text-align:center; font-weight:600; font-size:1.1em; border-radius:8px; border:1px solid var(--main-color); color:var(--main-color);}
.sub_adap .info01 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_adap .info01 li {width:100%; border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px; text-align:center;}
.sub_adap .info01 li img {margin:0 0 10px; width:min(40%, 40px);}
.sub_adap .info01 li h5 {font-size:1.1em; font-weight:600; color:var(--main-color); margin:0 0 10px;}
.sub_adap .info02 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_adap .info02 li {width:100%;}
.sub_adap .info02 li h5 {background:#7b7990; color:#fff; padding:10px; border-radius:8px; font-weight:600; display:flex; align-items:center; gap:10px; font-size:1.1em; margin:0 0 10px;}
.sub_adap .info02 li h5 em {display:flex; align-items:center; justify-content:center; width:30px; height:30px; background:#fff; color:#7b7990; font-size:0.8em; border-radius:100%; flex-shrink:0;}
.sub_adap .info02 li p {border:1px solid #e0e0e0; padding:10px; border-radius:8px;}
.sub_adap .info02 li p:not(:last-child) {margin:0 0 10px;}
.sub_adap .info03 {border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px; font-size:1.1em; font-weight:400; display:flex; align-items:center; gap:0 1em;}
.sub_adap .info03 em {background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; padding:0 1em; border-radius:4px; min-width:100px; font-weight:600; text-align:center;}

@media all and (min-width:768px) {
  .sub_adap .tit01 {font-size:1.25em;}
  .sub_adap .info01 li {width:unset; flex:1; flex-shrink:0; padding:20px;}
  .sub_adap .info02 li {width:49%;}
  .sub_adap .info02 li p {padding:20px;}
  .sub_adap .info03 {padding:20px;}
}

@media all and (min-width:1200px) {
  .sub_adap {padding:0 50px 0 0;}
  .sub_adap .tit01 {font-size:1.35em;}
}


/*경남의 탄소중립 - 온실가스감축인지 예산제*/
.sub_inven .info01 {border:1px solid #e0e0e0; background:#f8f8f8; padding:10px; border-radius:8px; font-size:1.1em; font-weight:400; display:flex; align-items:center; gap:0 1em;}
.sub_inven .info01 em {background:var(--main-color); background:linear-gradient(90deg, var(--main-color) 0%, var(--point-color) 100%); color:#fff; padding:0 1em; border-radius:4px; min-width:100px; font-weight:600; text-align:center;}
.sub_inven .info02 {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_inven .info02 .item {width:100%; border:1px solid #e0e0e0; border-radius:8px; overflow:hidden;}
.sub_inven .info02 .item .tit {text-align:center;}
.sub_inven .info02 .item .tit .t01 {padding:10px 20px; color:#fff; font-weight:600; font-size:1.1em;}
.sub_inven .info02 .item:nth-of-type(1) .tit .t01 {background:var(--point-color);}
.sub_inven .info02 .item:nth-of-type(2) .tit .t01 {background:#f28f40;}
.sub_inven .info02 .item:nth-of-type(3) .tit .t01 {background:#33813b;}
.sub_inven .info02 .item:nth-of-type(4) .tit .t01 {background:#1eaff2;}
.sub_inven .info02 .item .tit .t02 {padding:20px 20px 0; font-weight:500;}
.sub_inven .info02 .item .detail {padding:20px 20px 0;}
.sub_inven .info02 .item .detail h5 {background:#7b7990; color:#fff; font-weight:500; display:inline-block; width:fit-content; padding:0.2em 0.5em; border-radius:4px; margin:0 0 10px;}
.sub_inven .info02 .item .detail p {font-weight:400;}
.sub_inven .info02 .item .detail p:not(:last-child) {margin:0 0 10px;}
.sub_inven .info02 .item ul {padding:20px; display:flex; flex-wrap:wrap; gap:10px 0;}
.sub_inven .info02 .item ul li {border:1px solid #e0e0e0; background:#f8f8f8; border-radius:8px; padding:10px; width:100%;}
.sub_inven .info03 ul {display:flex; flex-wrap:wrap; gap:20px 2%;}
.sub_inven .info03 ul li {width:49%; text-align:center;; border:1px solid #e0e0e0; border-radius:8px; position:relative;}
.sub_inven .info03 ul li:not(:last-child):after {content:'keyboard_arrow_right'; font-family:var(--ic); display:flex; align-items:center; justify-content:center; width:20px; height:20px; border-radius:100%; background:var(--point-color); color:#fff; position:absolute; right:-10px; top:calc(50% - 10px);}
.sub_inven .info03 ul li h4 {background:var(--main-color); color:#fff; font-weight:600; padding:10px; margin:0 0 10px; display:flex; align-items:center; justify-content:center; border-radius:8px 8px 0 0;}
.sub_inven .info03 ul li h5 {font-weight:500; margin:0 0 10px;}
.sub_inven .info03 ul li p {font-weight:500; color:#7b7990; border-top:1px solid #e0e0e0; padding:10px 0;}

@media all and (min-width:768px) {
  .sub_inven .info03 ul li {width:32%;}
}

@media all and (min-width:1200px) {
  .sub_inven {padding:0 50px 0 0;}
  .sub_inven .info02 .item {width:49%;}
  .sub_inven .info02 .item .tit .t01 {font-size:1.25em;}
  .sub_inven .info02 .item .tit .t02 {text-align:left;}
  .sub_inven .info03 ul li {width:18.4%;}
  .sub_inven .info03 ul li:not(:last-child):after {top:90px;}
  .sub_inven .info03 ul li h4 {height:100px;}
}


/*개인정보취급방침*/
.sub_privacy h4 {font-size:1.25em; font-weight:600;}

@media all and (min-width:1200px) {
  .sub_privacy {padding:0 50px 0 0;}
}


/*이메일무단수집거부*/
.sub_noemail .box {border:1px solid #e0e0e0; padding:40px 20px; text-align:center; border:1px solid #e0e0e0; background:#f8f8f8; border-radius:8px;}
.sub_noemail .box h1 {font-size:1.5em; font-weight:600;}

@media all and (min-width:768px) {
  .sub_noemail .box {padding:60px 30px;}
  .sub_noemail .box h1 {font-size:1.75em;}
}

@media all and (min-width:1200px) {
  .sub_noemail {padding:0 50px 0 0;}
}


/*사이트맵*/
.sub_sitemap ul {display:flex; flex-wrap:wrap; gap:20px 2%; text-align:center;}
.sub_sitemap ul li {width:100%;}
.sub_sitemap ul li > a {display:block; padding:10px; border-radius:8px; border:1px solid var(--main-color); color:var(--main-color); font-weight:600; font-size:1.1em; margin:0 0 10px; transition:0.2s;}
.sub_sitemap ul li > a:hover {background:var(--main-color); color:#fff;}
.sub_sitemap ul li .sub {padding:10px; border:1px solid #e0e0e0; border-radius:8px;}
.sub_sitemap ul li .sub dl {display:flex; flex-wrap:wrap; gap:10px 0;}
.sub_sitemap ul li .sub dl > * {width:100%;}
.sub_sitemap ul li .sub a {transition:0.2s;}
.sub_sitemap ul li .sub a:hover {font-weight:600;}

@media all and (min-width:768px) {
  .sub_sitemap ul li {width:49%;}
  .sub_sitemap ul li .sub {padding:20px;}
}

@media all and (min-width:1200px) {
  .sub_sitemap {padding:0 50px 0 0;}
  .sub_sitemap ul li {width:unset; flex:1;}
}