/*sub*/
.noemail .box {
    border: 10px solid #f0f0f0;
    padding: 20px 3%;
}

.noemail .box h1 {
    font-size: 1.5em;
    font-weight: 600;
}

@media all and (min-width: 1080px) {
  .noemail .box {
        padding:30px;
    }
}

.privacy h4 {
    font-size: 1.25em;
    font-weight: 500;
}

.sitemap ul {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.sitemap li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin: 0 10px 30px;
    -webkit-box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 10%);
    overflow: hidden;
}

.sitemap li h1 {
    background: #167961;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    padding: 10px 0;
}

.sitemap li dd {
    padding: 10px 0;
}

.sitemap li dd:nth-child(even) {
    background: #f4f4f4;
}

.sitemap li dd:hover {
    font-weight: 600;
}

.sub_tlt {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.sub_tlt:before {
    display: block;
    clear: both;
    content: "";
    width: 22px;
    height: 3px;
    background: #009fe3;
    margin-bottom: 7px;
}

.sub_tlt2 {
    color: #009fe3;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.mt {
    margin-bottom: 50px;
}

.mt2 {
    margin-bottom: 20px;
}

.more.down {
    border: 1px solid #dedede;
    border-radius: 0px;
    width: 100%;
    line-height: 59px;
    padding-left: 15px;
    color: #444;
}

@media all and (min-width: 768px) {
  .sitemap li {
        width: 22.33%;
        float: left;
        margin: 0 1% 30px;
    }

  .sitemap li:nth-child(3n+1) {
        clear: both;
    }

    .sub_tlt {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .mt {
    }

    .more.down {
        max-width: 300px;
        line-height: 70px;
        height: 70px;
        font-size: 16px;
        padding-left: 20px;
        transition: 0.3s;
    }

    .more.down:before {
        right: 23px;
        top: 30px;
        /* border-top: 2px solid #222; */
        /* border-right: 2px solid #222; */
    }

    .more.down:after {
        top: 33px;
        right: 23px;
    }

    .more.down:hover {
        background: #009fe3;
        color: #fff;
        border-color: #009fe3;
    }

    .more.down:hover:after {
        background: #fff;
    }

    .more.down:hover:before {
        border-color: #fff;
    }
}

@media all and (min-width: 1200px) {
  .sitemap ul {
        display:flex;
        flex-wrap: wrap;
    }

  .sitemap li h1 {
        font-size: 1.25em;
    }

    .sub_tlt {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .sub_tlt:before {
        content: "";
        width: 30px;
        height: 3px;
    }

    .mt {
        margin-bottom: 80px;
    }

    .mt2 {
        margin-bottom: 20px;
    }

    .more.down {
    }
}

/*ceo grt*/
.grt {
}

.grt .top {
    background: url(/img/ceo_bg.jpg) no-repeat;
    padding: 64px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 29px;
    background-size: cover;
}

.grt .top i {
    background: linear-gradient(to right, #009fe3, #a8ddf4);
    color: transparent;
    -webkit-background-clip: text;
}

.grt .top span {
}

.grt .top span:before {
    display: block;
    clear: both;
    content: "";
    width: 24px;
    height: 3px;
    margin-bottom: 9px;
    /* background:#fff; */
}

.grt .cont {
    background: #fff;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding-top: 40px;
    /* text-align: center; */
}

.grt .cont .img {
    background: url(/img/main_visual_01.jpg);
    height: 150px;
    background-size: cover;
    margin-bottom: 35px;
    background-position: center;
    color: #e5e5e5;
    padding: 30px;
    border-radius: 20px 0 0 0;
    box-shadow: 0 5px 36px -11px rgb(170 170 170);
}

.grt .cont .t1 {
    font-weight: 800;
    display: block;
    font-size: 26px;
    color: #009fe3;
    margin-bottom: 20px;
    color: #222;
    text-align: center;
}

.grt .cont .t1:before {
    display: block;
    clear: both;
    content: "";
    width: 30px;
    height: 19px;
    background: url(/img/grt_ic.png);
    background-size: 100%;
    display: inline-block;
    transform: translate(0px, -10px);
}

.grt .cont .t1:after {
    display: block;
    clear: both;
    content: "";
    width: 30px;
    height: 19px;
    background: url(/img/grt_ic2.png);
    background-size: 100%;
    display: inline-block;
    transform: translate(4px, -10px);
}

.grt .cont .t1 i {
    /* background: linear-gradient(to right, #009fe3, #a8ddf4); */
    /* color: transparent; */
    /* -webkit-background-clip: text; */
    /* font-weight: 800; */
    color: #009fe3;
}

.grt .cont .sign {
    color: #222;
    font-weight: 700;
    display: block;
    margin-top: 30px;
    position: relative;
}

.grt .cont .sign b {
    background: url(/img/sign.png) no-repeat;
    font-size: 0px;
    width: 80px;
    display: inline-block;
    height: 50px;
    background-size: 100%;
    position: absolute;
    top: -9px;
    left: 91px;
}

@media all and (min-width: 768px) {
    .grt {
    }

    .grt .top {
        padding: 100px 50px;
    }

    .grt .cont {
        font-size: 17px;
    }

    .grt .cont .t1 {
        font-size: 36px;
    }

    .grt .cont .t1 i {
    }

    .grt .cont .sign {
    }

    .grt .cont .sign b {
        left: 102px;
    }

    .grt .cont .t1:before {
    }

    .grt .cont .t1:after {
        transform: translate(8px, -10px);
    }

    .grt .cont .img {
        height: 300px;
        padding: 70px;
    }
}

@media (min-width: 1280px) {
    .grt {
    }

    .grt .top {
        height: 479px;
        padding: 129px 141px;
        font-size: 42px;
        font-family: 'roboto';
        font-weight: 700;
        letter-spacing: 0px;
        /* text-align: center; */
    }

    .grt .cont {
        font-size: 19px;
        position: relative;
        /* width: 80%; */
        /* margin-left: 20%; */
        /* position: relative; */
        /* top: -180px; */
        /* padding: 70px 80px; */
        padding-left: 53%;
        padding-bottom: 50px;
    }

    .grt .cont .img {
        height: 582px;
        padding: 130px 90px;
        width: 48%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 70px 0 0 0;
    }

    .grt .cont .t1:before {
        transform: translate(0px, -21px);
    }

    .grt .cont .t1:after {
        transform: translate(8px, -21px);
    }

    .grt .cont .t1 {
        font-size: 46px;
        margin-bottom: 30px;
        text-align: left;
    }

    .grt .cont .t1 i {
    }

    .grt .cont .sign {
        /* text-align: right; */
        margin-top: 50px;
        /* text-align: center; */
    }

    .grt .cont .sign b {
        width: 105px;
        height: 60px;
        left: 115px;
        top: -11px;
    }
}

/*cer*/
.cer_box {
}

.cer_box .cer_list {
    display: flex;
    flex-wrap: wrap;
}

.cer_box .cer_list li {
    width: calc(50% - 5px);
    /* border: 1px solid #dedede; */
    margin-right: 10px;
    margin-bottom: 10px;
}

.cer_box .cer_list li span {
    text-align: center;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px 0;
    color: #666;
}

.cer_box .cer_list li span b {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    color: #444;
}

.cer_box .cer_list li:nth-child(2n) {
    margin-right: 0px;
}

.cer_box .cer_list li img {
    /* max-width: 200px; */
    border: 1px solid #dedede;
}

@media (min-width: 768px) {
    .cer_box {
    }

    .cer_box .cer_list {
    }

    .cer_box .cer_list li {
        width: calc(33.333333% - 10px);
        margin-right: 15px;
        margin-bottom: 20px;
        /* width: calc(33.333333% - 10px); */
    }

    .cer_box .cer_list li span {
        font-size: 16px;
    }

    .cer_box .cer_list li img {
    }

    .cer_box .cer_list li:nth-child(2n) {
        margin-right: 15px;
    }

    .cer_box .cer_list li:nth-child(3n) {
        margin-right: 0px;
    }
}

@media (min-width: 1280px) {
    .cer_box {
    }

    .cer_box .cer_list {
    }

    .cer_box .cer_list li {
        width: calc(20% - 24px);
        margin-right: 30px !important;
        margin-bottom: 40px;
    }

    .cer_box .cer_list li:nth-child(2n) {
        margin-right: 20px;
    }

    .cer_box .cer_list li span {
        font-size: 16px;
        padding-top: 15px;
    }

    .cer_box .cer_list li span b {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .cer_box .cer_list li img {
    }

    .cer_box .cer_list li:nth-child(3n) {
        margin-right: 20px;
    }

    .cer_box .cer_list li:nth-child(5n) {
        margin-right: 0px !important;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
.history_box {
}

.history_box .img_box {
    margin-bottom: 60px;
}

.history_box .img_box .img {
    background: url(/img/his_img.jpg);
    height: 49vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 5px 36px -11px rgb(170 170 170);
    border-radius: 0px 0 20px 0;
    background-position: center bottom;
    margin-bottom: 25px;
}

.history_box .img_box .txt {
    color: #009fe3;
    font-weight: 600;
    letter-spacing: -0.1px;
    font-family: 'roboto';
    margin-bottom: 0px;
    font-size: 24px;
    /* text-align: center; */
    color: #0b6aca;
    /* display: none; */
    line-height: 1.2;
    margin-bottom: 10px;
    color: #222;
}

.history_box .img_box .txt:before {
    display: block;
    clear: both;
    content: "";
    width: 30px;
    height: 3px;
    background: #009fe3;
    margin-bottom: 20px;
}

.history_box .img_box .txt1 {
    color: #666;
    font-weight: 500;
}

.history_box .cont {
}

.history_box .cont .year_tlt {
    font-weight: 800;
    color: #0b6aca;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 28px;
    color: #009fe3;
}

.history_box .cont .year_tlt:after {
    display: block;
    clear: both;
    content: "";
    width: 20px;
    height: 20px;
    background: #0b6aca;
    opacity: 0.2;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0;
    background: #009fe3;
}

.history_box .cont .year_tlt:before {
    display: block;
    clear: both;
    content: "";
    width: 10px;
    height: 10px;
    background: #0b6aca;
    position: absolute;
    top: 9px;
    left: 5px;
    border-radius: 50%;
    background: #009fe3;
}

.history_box .cont ul {
    padding-left: 28px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
    margin-bottom: 35px;
}

.history_box .cont ul.lay {
    border-bottom: 0px;
}

.history_box .cont ul li {
    position: relative;
    padding-left: 50px;
    margin-bottom: 10px;
    color: #666;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
}

.history_box .cont ul li span {
    position: absolute;
    top: -1px;
    left: 0;
    font-weight: 600;
    color: #333;
    font-size: 16px;
}

.history_box .cont ul li em {
    position: relative;
    padding-left: 8px;
    display: block;
}

.history_box .cont ul li em:after {
    display: block;
    clear: both;
    content: "";
    width: 3px;
    height: 3px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 0px;
}

@media (min-width: 768px) {
    .history_box {
    }

    .history_box .img_box {
    }

    .history_box .img_box .img {
        height: 500px;
    }

    .history_box .img_box .txt {
    }

    .history_box .cont {
    }

    .history_box .cont .year_tlt {
        font-size: 30px;
    }

    .history_box .cont ul {
    }

    .history_box .cont ul li {
        /* font-size: 16px; */
        padding-left: 70px;
        margin-bottom: 12px;
    }

    .history_box .cont ul li span {
        /* font-size: 17px; */
    }

    .history_box .cont ul li em {
    }
}

@media (min-width: 1000px) {
    .history_box {
        position: relative;
        /* height: 2000px; */
    }

    .history_box:after {
        display: block;
        clear: both;
        content: "";
    }

    .history_box .img_box {
        float: right;
        width: 45%;
        position: sticky;
        top: 124px;
        left: 0px;
        /* float: left; */
    }

    .history_box .img_box .img {
        height: 380px;
        border-radius: 0px 0 70px 0;
        margin-bottom: 55px;
    }

    .history_box .img_box .txt {
        font-size: 34px;
        text-align: left;
    }

    .history_box .img_box .txt:before {
        display: block;
        clear: both;
        content: "";
        width: 37px;
        height: 4px;
        background: #009fe3;
        margin-bottom: 20px;
    }

    .history_box .img_box .txt1 {
        font-size: 20px;
    }

    .history_box .cont {
        float: left;
        width: 50%;
        /* padding-left: 5%; */
    }

    .history_box .cont .year_tlt {
        font-size: 30px;
        margin-bottom: 20px;
        padding-left: 35px;
    }

    .history_box .cont .year_tlt:before {
        top: 17px;
        left: 7px;
        width: 10px;
        height: 10px;
    }

    .history_box .cont .year_tlt:after {
        top: 10px;
        width: 24px;
        height: 24px;
    }

    .history_box .cont ul {
        padding-left: 36px;
        padding-bottom: 40px;
        margin-bottom: 45px;
    }

    .history_box .cont ul li {
        font-size: 18px;
    }

    .history_box .cont ul li em:after {
        top: 12px;
    }

    .history_box .cont ul li span {
        font-size: 20px;
        top: -3px;
    }

    .history_box .cont ul li em {
        padding-left: 12px;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â½ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â«ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨*/
.policy {
}

.policy ul {
}

.policy li {
    margin-bottom: 15px;
}

.policy li .img {
}

.policy li .img img {
    box-shadow: 0 5px 36px -11px rgb(170 170 170);
}

.policy li .img.lay2 {
    display: none;
}

.policy li .txt {
    font-weight: 400;
    color: #666;
    padding: 25px 0;
}

.policy li .txt span {
    display: block;
    font-weight: 800;
    font-size: 20px;
    color: #222;
    position: relative;
    margin-bottom: 5px;
}

.policy li .txt span i {
    color: #009fe3;
}

.policy li .txt span em {
    color: #e3e3e3;
    font-weight: 900;
    font-size: 36px;
    margin-right: 7px;
    transform: translate(0px, 3px);
    display: inline-block;
    position: absolute;
    left: 51px;
    top: -19px;
    z-index: -1;
}

@media (min-width: 768px) {
    .policy {
    }

    .policy ul {
    }

    .policy li {
        display: flex;
        margin-bottom: 50px;
    }

    .policy li:after {
        display: block;
        clear: both;
        content: "";
    }

    .policy li:nth-child(2) {
        /* display: block; */
    }

    .policy li:nth-child(2) .txt {
        padding-right: 70px;
        padding-left: 0px;
    }

    .policy li .img {
        width: 50%;
        float: right;
    }

    .policy li .img.lay {
        display: none;
    }

    .policy li .img.lay2 {
        display: block;
    }

    .policy li .img img {
    }

    .policy li .txt {
        width: 50%;
        float: left;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0 20px;
        flex-direction: column;
        justify-content: center;
    }

    .policy li .txt span {
    }

    .policy li .txt span em {
    }
}

@media (min-width: 1000px) {
    .policy {
    }

    .policy ul {
    }

    .policy li {
        margin-bottom: 100px;
    }

    .policy li .img {
    }

    .policy li .img img {
    }

    .policy li .txt {
        font-size: 18px;
        padding: 0 50px;
        padding-left: 70px;
        padding-right: 0px;
        font-size: 21px;
    }

    .policy li .txt span {
        font-size: 40px;
        position: relative;
        margin-bottom: 10px;
    }

    .policy li .txt span em {
        font-size: 94px;
        color: #eeeeee;
        position: absolute;
        top: -58px;
        left: 91px;
        z-index: -1;
    }
}

/*CI*/
.ci {
}

.ci .row {
}

.ci .ci_txt {
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
}

.ci .ci_cont {
}

.ci .ci_cont ul {
}

.ci .ci_cont ul li {
    border: 2px solid #dedede;
    margin-bottom: 10px;
}

.ci .ci_cont ul li img {
    width: 100%;
}

.ci_color {
}

.ci_color ul {
}

.ci_color ul li {
    padding: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.ci_color ul li span {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 2px;
}

.ci_color ul li em {
    color: #f1f1f1;
}

.ci_color ul li.c1 {
    background: linear-gradient(to right, #59c2ee, #112e5c);
}

.ci_color ul li.c2 {
    background: #004a93;
}

.ci_color ul li.c3 {
    background: linear-gradient(to right, #3c3c3b, #999999);
}

.ci_color ul li.c4 {
    background: #1c1c1b;
}

.ci_color ul li.c5 {
    background: #575756;
}

.ci_color ul li.c6 {
    background: #9d9d9c;
}

.ci_color ul li.c7 {
    background: #dadada;
}

.ci_color ul li.c8 {
    background: #009fe3;
}

.ci_color ul li.c9 {
    background: #3f3741;
}

.ci_color ul li.c10 {
    background: #7d9bc4;
}

.ci_color ul li.c11 {
    background: #152f46;
}

.ci_color ul li.c12 {
    background: #ffffff;
    border: 1px solid #dedede;
}

.ci_color ul li.c12,.ci_color ul li.c7 {
    color: #444;
}

.ci_color ul li.c12 em,.ci_color ul li.c7 em {
    color: #888;
}

@media (min-width: 768px) {
    .ci {
    }

    .ci .row {
    }

    .ci .ci_txt {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .ci .ci_cont {
    }

    .ci .ci_cont ul {
        display: flex;
    }

    .ci .ci_cont ul li {
        margin-right: 10px;
    }

    .ci_color ul li span {
        font-size: 15px;
    }

    .ci_color ul li em {
    }

    .ci .ci_cont ul.w2 li:nth-child(2) {
        margin-right: 0px;
    }

    .ci .ci_cont ul.w3 li:nth-child(3) {
        margin-right: 0px;
    }

    .ci .ci_cont ul li img {
    }

    .ci_color ul {
        display: flex;
        flex-wrap: wrap;
    }

    .ci_color ul li {
        width: calc(33.33333% - 15px);
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 16px;
    }

    .ci_color ul li:nth-child(3n) {
        margin-right: 0px;
    }
}

@media (min-width: 1000px) {
    .ci {
    }

    .ci .row {
    }

    .ci .ci_txt {
        font-size: 18px;
        margin-bottom: 35px;
        line-height: 1.7;
    }

    .ci .ci_cont {
    }

    .ci .ci_cont ul {
    }

    .ci .ci_cont ul li {
        margin-right: 20px;
    }

    .ci_color ul li span {
    }

    .ci_color ul li em {
    }

    .ci .ci_cont ul li img {
    }

    .ci_color ul li {
        padding: 22px;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â«ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/
.location {
}

.location .map {
}

.root_daum_roughmap .wrap_controllers {
    display: none !important;
}

.location .map .root_daum_roughmap_landing {
    width: 100% !important;
}

.location .map_info {
}

.location .map_info li {
    border-bottom: 1px solid #dedede;
    padding: 23px 0 20px;
    position: relative;
    padding-left: 70px;
    padding-right: 5px;
}

.location .map_info .img {
    position: absolute;
    top: 25px;
    left: 14px;
}

.location .map_info .img img {
    height: 40px;
}

.location .map_info .tlt {
    font-weight: 500;
}

.location .map_info .txt {
    color: #666;
}

@media (min-width: 768px) {
    .location {
    }

    .location .map {
    }

    .location .map_info {
        display: flex;
    }

    .location .map_info li {
        width: 33.333333%;
        border-bottom: 0px;
        border-right: 1px solid #dedede;
        padding: 0px;
        padding: 6px 0;
        margin-top: 63px;
    }

    .location .map_info li:last-child {
        border-right: 0px;
    }

    .location .map_info .img {
        position: static;
        text-align: center;
        margin-bottom: 19px;
    }

    .location .map_info .img img {
        height: 64px;
    }

    .location .map_info .tlt {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .location .map_info .txt {
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .location {
    }

    .location .map {
    }

    .location .map .root_daum_roughmap_landing {
        /* height: 500px; */
    }

    .location .map_info {
    }

    .location .map_info li {
    }

    .location .map_info .img {
    }

    .location .map_info .img img {
    }

    .location .map_info .tlt {
        font-size: 20px;
    }

    .location .map_info .txt {
        font-size: 18px;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â */
.img_pop {
}

.img_pop li {
    text-align: center;
    margin-bottom: 20px;
}

.img_pop li a {
    color: #444;
    font-weight: 600;
    font-size: 16px;
    /* border: 1px solid #dedede; */
    display: block;
}

.img_pop li img {
    /* border: 1px solid #dedede; */
    box-shadow: 0 5px 20px -2px rgb(170 170 170 / 40%);
}

.img_pop li span {
    padding: 10px 0;
    display: block;
}

@media (min-width: 768px) {
    .img_pop {
        display: flex;
        flex-wrap: wrap;
    }

    .img_pop li {
        width: calc(50% - 40px);
        margin-right: 40px;
        margin-bottom: 30px;
    }

    .img_pop li:nth-child(2n) {
        margin-right: 0px;
    }

    .img_pop li a {
    }

    .img_pop li img {
    }

    .img_pop li span {
        font-size: 18px;
        padding: 15px 0px;
    }
}

@media (min-width: 1000px) {
    .img_pop {
    }

    .img_pop li {
        margin-right: 45px !important;
        width: calc(33.333333% - 30px);
        margin-bottom: 45px;
    }

    .img_pop li:nth-child(2n) {
        /* margin-right:40px; */
    }

    .img_pop li:nth-child(3n) {
        margin-right: 0px !important;
    }

    .img_pop li a {
    }

    .img_pop li img {
    }

    .img_pop li span {
        font-size: 20px;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â«ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â«ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â­ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/
.equipment {
}

.equipment .equ_tlt {
    font-size: 26px;
    font-weight: 800;
    color: #222;
    margin-bottom: 10px;
}

.equipment select {
    width: 100%;
    border: 2px solid #ddd;
    font-size: 16px;
    font-weight: 500;
}

.equipment .equ_tlt span {
    color: #009fe3;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.1px;
    font-family: 'roboto';
    margin-left: 5px;
}

.equipment .equ_txt {
    color: #555;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 28px;
    text-align: center;
}

.equipment .equ_txt b {
    font-weight: 800;
    font-size: 22px;
    display: block;
    color: #222;
    line-height: 1.3;
    margin-bottom: 10px;
}

.equipment .equ_txt b i {
    color: #009fe3;
}

.equipment .equ_tabs {
    display: none;
}

.equipment .equ_tabs ul {
}

.equipment .equ_tabs ul li {
}

.equipment .equ_tabs ul li a {
}

.equipment .equ_tabs ul li a.active {
}

.equipment .equ_tabs ul li a span {
}

.equipment .equ_tlt2 {
    font-size: 24px;
    font-weight: 800;
    color: #222;
    margin-bottom: 10px;
    font-family: 'roboto';
    line-height: 1.2;
    margin-top: 35px;
    margin-bottom: 35px;
    position: relative;
}

.equipment .equ_tlt2:before {
    display: block;
    clear: both;
    content: "";
    width: 22px;
    height: 3px;
    background: #009fe3;
    margin-bottom: 15px;
}

.equipment .equ_tlt2 span {
    display: block;
}

.equipment .bg {
    background: #062b49;
    padding: 50px 10px;
    background: url(/img/equ_bg1.jpg);
}

.equipment .bg.lay {
    background: url(/img/equ_bg2.jpg);
}

.equipment .bg .img {
    margin-bottom: 35px;
}

.equipment .bg .table {
}

.equipment .bg .table table {
    color: #fff;
    border-top: 1px solid #fff;
    width: 100%;
}

.equipment .bg .table table th {
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    font-weight: 500;
    background: rgba(255,255,255,0.2);
    color: #fff;
}

.equipment .bg .table table td {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    text-align: center;
    color: #d1d1d1;
}

.equipment .bg .table table th span {
    display: none;
}

@media (min-width: 768px) {
    .equipment {
    }

    .equipment .equ_tlt {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .equipment .equ_tlt span {
        font-size: 14px;
        margin-left: 7px;
    }

    .equipment .equ_txt {
        font-size: 17px;
        margin-bottom: 60px;
    }

    .equipment .equ_txt b {
        font-size: 30px;
    }

    .equipment select {
        display: none;
    }

    .equipment .equ_tabs {
        display: block;
    }

    .equipment .equ_tabs ul {
        display: flex;
        /* background: #f4f4f4; */
    }

    .equipment .equ_tabs ul li {
        width: 33.33%;
        text-align: center;
    }

    .equipment .equ_tabs ul li a {
        padding: 25px 10px;
        display: block;
        color: #666;
        font-weight: 500;
        /* border-bottom: 2px solid #dedede; */
        line-height: 1.3;
        background: #f8f8f8;
    }

    .equipment .equ_tabs ul li a.active {
        background: #fff;
        /* border: 2px solid #062b49; */
        /* padding: 30px 0; */
        /* font-size: 16px; */
        color: #062b49;
        /* border-bottom: 2px solid #fff; */
        /* color: #009fe3; */
        /* font-weight: 600; */
        background: #009fe3;
        color: #fff;
        border: 1px solid #009fe3;
    }

    .equipment .equ_tabs ul li a span {
        display: block;
    }

    .equipment .equ_tlt2 {
        font-size: 30px;
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .equipment .bg {
    }

    .equipment .bg .img {
    }

    .equipment .bg .table {
    }

    .equipment .bg .table table {
    }

    .equipment .bg .table table tbody {
        display: flex;
        flex-wrap: wrap;
    }

    .equipment .bg .table table tr {
        width: 50%;
        display: flex;
    }

    .equipment .bg .table table th {
        width: 50%;
        display: block;
    }

    .equipment .bg .table table th span {
        /* display: inline-block; */
        font-weight: 300;
        color: rgba(255,255,255,0.8);
        font-size: 14px;
        margin-left: 8px;
        font-family: 'roboto';
    }

    .equipment .bg .table table td {
        width: 50%;
        display: block;
        padding: 10px;
    }
}

@media (min-width: 1000px) {
    .equipment {
    }

    .equipment .equ_tlt {
        font-size: 46px;
    }

    .equipment .equ_tlt span {
        font-size: 16px;
        margin-left: 10px;
    }

    .equipment .equ_txt {
        font-size: 19px;
        margin-bottom: 75px;
    }

    .equipment .equ_txt b {
        font-size: 34px;
        margin-bottom: 12px;
    }

    .equipment .equ_tabs {
    }

    .equipment .equ_tabs ul {
    }

    .equipment .equ_tabs ul li {
    }

    .equipment .equ_tabs ul li a {
        font-size: 18px;
        background: #fff;
        border: 1px solid #dedede;
        /* border-bottom: 2px solid #062b49; */
        /* border-right: 1px; */
        margin-left: -1px;
        font-weight: 700;
        letter-spacing: 0px;
    }

    .equipment .equ_tabs ul li a.active {
    }

    .equipment .equ_tabs ul li a span {
        display: block;
        font-weight: 300;
    }

    .equipment .equ_tlt2 {
        font-size: 40px;
        /* padding-top: 50px; */
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .equipment .equ_tlt2:before {
        content: "";
        width: 37px;
        height: 4px;
        margin-bottom: 15px;
    }

    .equipment .bg {
        padding: 90px 0;
        /* min-height: 500px; */
    }

    .equipment .bg.lay {
        min-height: 550px;
    }

    .equipment .bg .img {
        position: absolute;
        right: 0;
        width: 50%;
        top: -252px;
        /* top: 32px; */
        text-align: center;
    }

    .equipment .bg .table {
        padding-right: 57%;
    }

    .equipment .bg .table table {
    }

    .equipment .bg .table table th {
        width: 40%;
        font-size: 17px;
        padding: 12px;
        line-height: 1.3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .equipment .bg .table table tr {
        /* width: 100%; */
    }
        .equipment .bg .table.tb2 table tr{
    width: 100%;
}

    .equipment .bg .table table td {
        width: 60%;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



/*ÃªÂ³Â ÃªÂ°ÂÃ¬â€šÂ¬*/

.client{
    display: flex;
    flex-wrap: wrap;
}
.client li{
    width: 50%;
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
}
.client li img{
    box-shadow: 1px 0px 10px 0px rgb(0,0,0,0.2);
    display: block;
    padding: 5px;
}
.client li span{
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

@media (min-width: 768px) {

.client{}
.client li{
    width: 33.333333%;
    padding: 0 15px;
}
.client li img{
    padding: 10px 45px;
    width: 100%;
}
.client li span{}
    
}
@media (min-width: 1200px) {

.client{}
.client li{
    width: 25%;
    margin-bottom: 30px;
}
.client li img{}
.client li span{
    font-size: 18px;
}
    
}




/*ÃªÂ°Å“Ã¬ÂÂ¸Ã¬Â â€¢Ã«Â³Â´Ã¬Â²ËœÃ«Â¦Â¬Ã«Â°Â©Ã¬Â¹Â¨*/

#agree_area{background: rgba(229,0,127,0.9);background: rgba(0,0,0,0.9);color: #fff;z-index: 100000;position: fixed;top: 0;right: 0;bottom: 0;width: 100%;height: 100%;visibility: hidden;/* height: 0vh; */opacity: 0;transition: 0.5s ease-in-out;z-index: -100;}
#agree_area.view{
    visibility: visible;
    /* width: 100%; */
    opacity: 1;
    /* left: 0px; */
    z-index: 1000000;
}
#agree_area .btn_cancel{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999999999;
    cursor: pointer;
    transform: scale(0.8);
    display: block;
    background: rgba(0,0,0,0.5);
    /* background: red; */
}
#agree_area .btn_cancel .bar{
    padding: 0;
    width: 36px;
    height: 4px;
    background-color: #fff;
    display: block;
    transition: all 0.3s ease-in-out;
    position: absolute;}
#agree_area .btn_cancel .bar1{
    transform: rotate(45deg);
    transform-origin: 10%;
    width: 41px;
    top: 11px;
    right: 0px;
}

#agree_area .btn_cancel .bar2 {
    transform-origin: 10%;
    transform: rotate(-45deg);
    width: 41px;
    bottom: 12px;
    right: 0px;
}
.agree_text{overflow: auto;padding: 50px 20px;-webkit-overflow-scrolling: touch;position: relative;height: 100%;box-sizing: border-box;}
.agree_text .provisionBox{max-width:1000px; margin:0 auto;}
.agree_text .provisionBox h3{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 40px;
}
@media all and (min-width:1200px) {
    #agree_div{
    
}
    #agree_area .btn_cancel{
    transform:scale(1);
    top: 40px;
    right: 50px;
    background: none;
    }
.agree_text{overflow: auto;padding: 100px 0;}
    
}





/*Ã¬ÂÂ¸Ã¬â€šÂ¬Ã«Â§Â*/

.grt{}
.grt .grtImg{
    background-image: url(../img/grt.jpg);
    padding: 10px;
    color: #fff;
    height: 200px;
    background-size: cover;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.grt .grtImg b{
    color: #009A75;
    display: block;
}
.grt .grtText{
    font-size: 15px;
    font-weight: 400;
    color: #444;
}
.grt .grtText b{
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin-bottom: 20px;
    color: #111;
}
.grt strong{
    display: block;
    text-align: right;
    margin-top: 20px;
    font-weight: 700;
}

@media all and (min-width:768px) {
    .grt{}
    .grt .grtImg{
    height: 290px;
}
    .grt .grtImg b{}
    .grt .grtText{}
    .grt .grtText b{}
    
}


@media all and (min-width:1200px) {
    .grt{}
    .grt .grtImg{
    margin-bottom: 50px;
    font-size: 28px;
}
    
    .grt .grtImg b{font-size: 22px;}
    .grt .grtText{
    font-size: 18px;
}
    .grt .grtText b{
    font-size: 22px;
}
.grt strong{
    margin-top: 40px;
}
    
}


/*Ã¬â€”Â°Ã­ËœÂ*/

/* ÃªÂ¸Â°Ã«Â³Â¸ Ã¬Å Â¤Ã­Æ’â‚¬Ã¬ÂÂ¼ */
.history-wrap {
  }
  
  .history-title {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .history-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #111;
    position: relative;
  }
  
  .history-timeline {
    position: relative;
    margin-left: 66px;
    /* border-left: 2px solid #ccc; */
  }
  
  .history-block {
    position: relative;
    margin-bottom: 50px;
    padding-left: 20px;
  }
  
  .history-year {
    font-size: 1.5rem;
    font-weight: 700;
    color: #009A75;
    margin-bottom: 15px;
    position: relative;
    position: absolute;
    top: -4px;
    left: -66px;
  }
  
  .history-block ul {
    padding-left: 0;
    list-style: none;
  }
  
  .history-block li {
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    position: relative;
    padding-left: 48px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .history-block li span {
    position: absolute;
    left: 0;
    top: 0;
    width: 62px;
    color: #222;
    font-weight: bold;
  }
  
  /* Ã«Â°ËœÃ¬Ââ€˜Ã­Ëœâ€¢ */
  @media (min-width: 768px) {
    .history-wrap {
      /* padding: 80px 100px; */
      padding-top: 20px;
    }
  
    .history-timeline {
      margin-left: 40px;
    }
  
    .history-title h2 {
      font-size: 3rem;
    }
  
    .history-year {
      font-size: 1.8rem;
    }
  
    .history-block li {
      font-size: 1.05rem;
    }
  }


  @media (min-width: 1200px) {
      .history-timeline {
      margin-left: 103px;
      border-left: 2px solid #ccc;
    }
      .history-year{
    left: -104px;
    width: 72px;
    top: -13px;
}
      .history-year:after,.history-year:before{
          display:block;
          clear:both;
          content:"";
          position: absolute;
          top: 12px;
          right: -41px;
      }
.history-year:after{
    width: 10px;
    height: 10px;
    background: #009A75;
    border-radius: 50%;
    top: 17px;
    right: -36px;
}
      .history-year:before{
    background: #bfe3db;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
      
      .history-block{
    padding-left: 40px;
}
      .history-block ul{
    transform: translate(0px, -3px);
}
    .history-block li {
      font-size: 18px;
      margin-bottom: 25px;
      padding-left: 63px;
    }
  }


/*Ã¬Â¡Â°Ã¬Â§ÂÃ«Ââ€ž*/
:root {--orgline:30px; --orglinecol:#e0e0e0;}
.org {text-align:center;}
.org .org_wrap {overflow:hidden;}
.org p {padding:10px 0; position:relative; word-break:break-all;}
.org dl {display:flex;justify-content: center;align-items:flex-start;margin:0 -1.5%;position:relative;}
.org dd {flex:1;max-width: 30.33%;margin:0 1.5%;/* border-radius:10px; */}
.org dl.ceo dd {background:#2747a5;background: #1ea988;color:#fff;font-weight:700;}
.org dl.dep01 {justify-content: flex-end;margin-top:var(--orgline);position:relative;display: flex;}
.org dl.dep01:before {content:'';display:inline-block;width: 50%;height:1px;background:var(--orglinecol);position:absolute;right: 0;bottom:50%;z-index:-1;}
.org dl.dep01 dd {background:#00324f; color:#fff; font-weight:700;}
.org dl.dep02 {margin-top:var(--orgline);position:relative;}
.org dl.dep02:before {content:'';display:inline-block;width: 75%;height:1px;background:var(--orglinecol);position:absolute;left: 12.5%;bottom:100%;z-index:-1;}
.org dl.dep02:after {content:''; display:inline-block; width:1px; height:200px; background:var(--orglinecol); position:absolute; left:50%; top:-200px; z-index:-1;}
.org dl.dep02 dd > p {background:#536872;color:#fff;font-weight:700;margin-top:var(--orgline);position:relative;/* border-radius:10px 10px 0 0; */}
.org dl.dep02 dd > p:before {content:''; display:inline-block; width:1px; height:var(--orgline); background:var(--orglinecol); position:absolute; left:50%; bottom:100%; z-index:-1;}
.org dl.dep02 ul {position:relative;display:block;background:#f4f6f7;/* border-radius:0 0 10px 10px; */}
.org dl.dep02 li p {font-weight:500;}

@media all and (min-width:768px) {
.org p {padding:20px;}
.org ul {display:flex; justify-content:center; align-items:flex-start;}
.org dl.dep02 ul {padding:10px 0;}
.org dl.dep02 li p {padding:10px;}
}

@media all and (min-width:1200px) {
  :root {--orgline:40px;}
.org {font-size:1.1em;}
}





/* ÃªÂ¸Â°Ã«Â³Â¸ Ã¬Å Â¤Ã­Æ’â‚¬Ã¬ÂÂ¼ */
.banner-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
  }
  
  .banner-list li {
     /* Ã«ÂªÂ¨Ã«Â°â€Ã¬ÂÂ¼: 2ÃªÂ°Å“Ã¬â€Â© */
     box-sizing: border-box;
     /* border: 1px solid #dedede; */
     box-shadow: 0 2px 10px rgb(0 0 0 / 7%);
     display: flex;
     align-items: center;
     justify-content: center;
     width: calc(50% - 5px);
     height: 50px;
  }
  
  .banner-list img {
    width: 100%;
    height: auto;
    display: block;
    /* border-radius: 6px; */
    /* box-shadow: 0 2px 6px rgba(0,0,0,0.05); */
    transition: transform 0.3s;
    transform: scale(0.5);
  }
  
  
  
  /* Ã­Æ’Å“Ã«Â¸â€Ã«Â¦Â¿ Ã¬ÂÂ´Ã¬Æ’ÂÃ¬ÂÂ¼ Ã«â€¢Å’ */
  @media (min-width: 768px) {
      .banner-list{
    gap: 20px;
}
    .banner-list li {
      
       /* 3ÃªÂ°Å“Ã¬â€Â© */
      width: calc(33.333333% - 13.33333333333333px);
    }
  }
  
  /* Ã«ÂÂ°Ã¬Å Â¤Ã­ÂÂ¬Ã­Æ’â€˜ Ã¬ÂÂ´Ã¬Æ’ÂÃ¬ÂÂ¼ Ã«â€¢Å’ */
  @media (min-width: 1024px) {
      .banner-list{
    gap: 25px;
}
    .banner-list li {
      /* flex: 1 1 calc(20% - 12px); */
      /* max-width: calc(20% - 12px); */ /* 5ÃªÂ°Å“Ã¬â€Â© */
      height: 100px;
      width: calc(33.333333% - 16.66666666666667px);
      padding: 10px;
    }
  }
  


  /*Ã¬ËœÂ¤Ã¬â€¹Å“Ã«Å â€ÃªÂ¸Â¸*/
  .location-wrap {
  }
  
  .location-title {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .location-title h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
  }
  
  .location-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .location-map {
    width: 100%;
    height: 300px;
    /* border-radius: 8px; */
    /* overflow: hidden; */
    /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  }
  
  .location-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #006e53;
  }
  
  .location-info li {
    font-size: 1rem;
    /* margin-bottom: 18px; */
    line-height: 1.8;
    color: #333;
    padding: 15px 0;
    padding-left: 26px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: left 19px;
    font-weight: 400;
    border-bottom: 1px solid #dedede;
    position: relative;
    padding-left: 95px;
  }
  .location-info li strong{color:#009A75;position: absolute;top: 15px;left: 26px;}
  
  /* Ã¬â€¢â€žÃ¬ÂÂ´Ã¬Â½Ëœ: Ã¬Â£Â¼Ã¬â€ Å’ */
  .icon-address {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009A75' viewBox='0 0 24 24'%3E%3Cpath d='M2 5L9 2L15 5L21.303 2.2987C21.5569 2.18992 21.8508 2.30749 21.9596 2.56131C21.9862 2.62355 22 2.69056 22 2.75827V19L15 22L9 19L2.69696 21.7013C2.44314 21.8101 2.14921 21.6925 2.04043 21.4387C2.01375 21.3765 2 21.3094 2 21.2417V5ZM16 19.3955L20 17.6812V5.03308L16 6.74736V19.3955ZM14 19.2639V6.73607L10 4.73607V17.2639L14 19.2639ZM8 17.2526V4.60451L4 6.31879V18.9669L8 17.2526Z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  /* Ã¬â€¢â€žÃ¬ÂÂ´Ã¬Â½Ëœ: Ã«Å’â‚¬Ã­â€˜Å“Ã«Â²Ë†Ã­ËœÂ¸ */
  .icon-phone {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009A75' viewBox='0 0 24 24'%3E%3Cpath d='M12 4C7.58172 4 4 7.58172 4 12H7C8.10457 12 9 12.8954 9 14V19C9 20.1046 8.10457 21 7 21H4C2.89543 21 2 20.1046 2 19V12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12V19C22 20.1046 21.1046 21 20 21H17C15.8954 21 15 20.1046 15 19V14C15 12.8954 15.8954 12 17 12H20C20 7.58172 16.4183 4 12 4ZM4 14V19H7V14H4ZM17 14V19H20V14H17Z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  /* Ã¬â€¢â€žÃ¬ÂÂ´Ã¬Â½Ëœ: Ã­Å’Â©Ã¬Å Â¤ */
  .icon-fax {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009A75' viewBox='0 0 24 24'%3E%3Cpath d='M17 2C17.5523 2 18 2.44772 18 3V7H21C21.5523 7 22 7.44772 22 8V18C22 18.5523 21.5523 19 21 19H18V21C18 21.5523 17.5523 22 17 22H7C6.44772 22 6 21.5523 6 21V19H3C2.44772 19 2 18.5523 2 18V8C2 7.44772 2.44772 7 3 7H6V3C6 2.44772 6.44772 2 7 2H17ZM16 17H8V20H16V17ZM20 9H4V17H6V16C6 15.4477 6.44772 15 7 15H17C17.5523 15 18 15.4477 18 16V17H20V9ZM8 10V12H5V10H8ZM16 4H8V7H16V4Z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  /* Ã«Â°ËœÃ¬Ââ€˜Ã­Ëœâ€¢ */
  @media (min-width: 768px) {
    .location-content {
      /* flex-direction: row; */
      /* align-items: stretch; */
      display: block;
    }
  
    .location-map, .location-info {
      flex: 1;
    }
  
    .location-map {
      height: 500px;
      margin-bottom: 40px;
    }
  
    .location-info {
      /* padding-left: 40px; */
      /* display: flex; */
      align-items: center;
    }
  }

  @media (min-width: 1200px) {
.location-info li{
    font-size: 18px;
    padding-left: 132px;
    background-position: 20px 20px;
}
      .location-info li strong{
    left: 46px;
}
  }
  


  /*ë¯¸ì…˜ ë¹„ì „*/

  .vm{}
.vm .box:first-child{background-image: url(../img/vs_img.jpg);height: 100px;background-position: center;background-size: cover;text-align: center;display: flex;justify-content: center;align-items: center;flex-direction: column;margin-bottom: 50px;}
.vm .box:first-child strong{color:#fff;} 
.vm strong{font-size: 20px;text-transform: uppercase;letter-spacing: 0px;}
  .vm .vision{
    color: #fff;
    font-weight: 600;
    opacity: 0.95;
}
.vm .box:nth-child(2){
    text-align: center;
    /* background: #f8f8f8; */
    /* padding: 20px 0; */
}
  .vm .mission{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.vm .mission:after{
    display:none;
}
.vm .mission li{margin-bottom:15px;position: relative;}
  .vm .mission li i{
    background: #009A75;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 15px; */
}
.vm .mission li:after{
    display:block;
    clear:both;
    content:"";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px dashed #ffffff82;
    position: absolute;
    top: 4px;
    left: 4px;
}
.vm .mission li:nth-child(1) i{
    background: #009a75a8;
}
.vm .mission li:nth-child(2) i{
    background: #186855a8;
}
.vm .mission li:nth-child(3) i{
    background: #153c33a8;
}
.vm .mission li:nth-child(4) i{
    background: #495c57a8;
}
  .vm .mission li i{}
.vm .mission li i img{
    width: 50px;
}
  .vm .mission li b{
    /* color: #fff; */
    margin-top: 5px;
    display: block;
}


  
  @media (min-width: 768px) {
    .vm{}
    .vm strong{font-size: 20px;}
    .vm .vision{}
    .vm .mission{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
    .vm .mission li{}
    .vm .mission li i{}
    .vm .mission li b{}

  }
  
  @media (min-width: 1200px) {
    .vm{}
    .vm strong{font-size: 26px;}
    .vm .vision{
    font-size: 28px;
}
      .vm .box:first-child{
    height: 280px;
    margin-bottom: 100px;
}
    .vm .mission{
    gap: 30px;
}
    .vm .mission li{}
    .vm .mission li i{
    width: 200px;
    height: 200px;
}
      .vm .mission li:after{
    width: 185px;
    height: 185px;
    top: 7px;
    left: 7px;
}
          .vm .mission li:before{
          }
      .vm .mission li i img{
    width: 75px;
}
    .vm .mission li b{
    font-size: 20px;
    margin-top: 14px;
}

  }














  /* 공통 */
.network {}
.network .text {
    margin-bottom: 30px;
}
.network .text .t1 {
    color: #009A75;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}
.network .text .t2 {
    font-weight: 600;
    color: #444;
}

/* 테이블 박스 */
.network .tbBox {
    /* margin-bottom: 20px; */
}
.network table {
    width: 100%;
    border-top: 1px solid #009A75;
}
.network thead th {
    background: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #dedede;
}
.network tbody td {
    padding: 10px;
    border-bottom: 1px solid #dedede;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #444;
}

/* 지도 영역 */
.network .map {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
}
.network .mapList {}
.network .mapList li {
    position: absolute;
    display: flex;
    z-index: 20;
}
.network .mapList li strong{background: #ffffff99; border:1px solid #dededeb8; padding: 5px 6px;border-radius: 20px;/* position: absolute; *//* display: flex; *//* justify-content: center; */display: block;font-size: 14px;}
.network .mapList li:nth-child(1){
    top: 102px;
    left: 118px;
}
.network .mapList li:nth-child(2){
    top: 178px;
    left: 121px;
}
.network .mapList li:nth-child(3){
    top: 246px;
    right: 21px;
}
.network .mapList li:nth-child(4){
    top: 287px;
    right: 90px;
}
.network .mapList li:nth-child(5){
    bottom: -15px;
    left: 66px;
}
.network .mapList li.point {}
.network .mapList li i {}
.network .map img {
    /* width: 300px; */
}

.network .mapList li.point i{
    background: #009A75;
}
.network .mapList li.point i:after {
    background: #009A75;
}
.network .mapList li i{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: relative;
    background: #81928e;
    left: 50%;
    position: absolute;
    top: -2px;
    z-index: 1;
    margin-left: -2.5px;
}
.network .mapList li i:after {
    display: block;
    clear: both;
    content: "";
    width: 40px;
    height: 40px;
    background: var(--point-color1);
    border-radius: 50%;
    top: -18px;
    left: -18px;
    position: absolute;
    z-index: -1;
    opacity: 0;
    animation: ci-mation 4s linear infinite;
    /* animation-delay: 3s; */
    background: #81928e;
    /* opacity: 0.3; */
    /* background: var(--main-color); */
}





@keyframes ci-mation {
    0% {
        transform: scale(0);
        opacity: 0.05;
    }
    50% {
        transform: scale(1);
        opacity: 0.3;
    }

}










  @media (min-width: 1200px) {


  /* 공통 */
.network {
    padding-top: 30px;
    padding-bottom: 100px;
}
.network .text {
    /* padding-right: 400px; */
    margin-bottom: 45px;
}
.network .text .t1 {
    font-size: 32px;
}
.network .text .t2 {
    font-size: 21px;
}

/* 테이블 박스 */
.network .tbBox {
    padding-right: 500px;
}
.network table {}
.network thead th {}
.network tbody td {
    font-size: 16px;
}

/* 지도 영역 */
.network .map {
    width: 480px;
    margin: 0;
    position: absolute;
    top: 126px;
    right: 0;
}
.network .mapList {}
.network .mapList li {}
      .network .mapList li:nth-child(1){
    left: 205px;
    top: 150px;
}
      .network .mapList li:nth-child(2){
    top: 272px;
    left: 200px;
}
      .network .mapList li:nth-child(3){
    top: unset;
    bottom: 175px;
    right: 59px;
}
      .network .mapList li:nth-child(4){
    top: unset;
    bottom: 124px;
    right: 171px;
}
      .network .mapList li:nth-child(5){
    bottom: 2px;
    left: 109px;
}
.network .mapList li.point {
}
.network .mapList li i {}
.network .map img {}
.network .mapList li strong{
    font-size: 15px;
    padding: 5px 12px;
}
  }






